.List {
    list-style: none;
}

.List__item {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    height: 56px;
    border: 1px solid;
    margin-bottom: 10px;
}

.List__item:last-child {
    margin-bottom: 0;
}

.List__item:hover {
    background: #fde66c;
}

.List__item-selected {
    background-color: #ebcf34;
}

.List__item__body, .List__item__title {  
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.List__Header {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px;
}

.List__element__header {
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
}

.List__delete__item {
    position: absolute;
    display: none;
    width: 2em;
    height: 2em;
    right: 0;
}

.List__item:hover .List__delete__item {
    display: block;
}